{% extends 'base.html' %}
{% load static %}

{% block content %} 

   
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>




    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            City
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Cairo</a></li>
                            <li><a class="text-decoration-none" href="#">Fauyom</a></li>
                            <li><a class="text-decoration-none" href="#">Bani Sweif</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Type
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Wedding</a></li>
                            <li><a class="text-decoration-none" href="#">Party</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Price
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Max</a></li>
                            <li><a class="text-decoration-none" href="#">Mediam</a></li>
                            <li><a class="text-decoration-none" href="#">Min</a></li>
                        </ul>
                    </li>
                    <li>
                        <br><br>
                        <div class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">
                                <h3 class="h3">Wedding hslls in Egypt</h3>
                            </a>
                        </div>
                        <br>
                        <div>
                            <p>Learn about all wedding halls in Cairo, whether they are hotel halls or wedding palaces, even restaurants, gardens and clubs that receive wedding parties. Just choose the type of hall you want to hold the wedding in and contact directly with the supervisors to get prices and details.</p>
                        </div>
                    </li>
                    <li>
                        <br><br>
                        <p>A full selection of the best wedding halls in Cairo is here at <a href="index.html">Wedding.net!</a> It includes hotel poolside or beachside wedding venues, as well as beautiful restaurant halls suitable for weddings, gardens and clubs. We also put in your hands the most famous names and contact details of the owners of private wedding halls in Cairo to host wedding parties designed to accommodate a large number of invitees. Among our list of halls, you will find all kinds of halls in Cairo with beautiful views of the Nile or the pyramids of all kinds, from the cheap to the most luxurious and elegant. All this and more to guarantee your wedding for life.</p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">Halls in</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none" href="#">Eygpt</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Featured</option>
                                <option>A to Z</option>
                                <option>Item</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for hall in halls %}

                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid img" src="{{hall.photo_hall.url}}">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="#"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'links:single-hall' hall.id %}"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'links:single-hall' hall.id %}"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'links:single-hall' hall.id %}" class="h3 text-decoration-none">{{hall.name}}</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li class="text-muted text-right">LE{{hall.price}}</li>
                                </ul>  
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                    
            </div>

        </div>
    </div>
    <!-- End Content -->

 
{% endblock %}